body {
  margin: 0;

}

header {
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
  background-color: white;
  width: 100%;
  max-height: 72px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.fakeheader {
  height: 75px;
}

/* header .row {
  margin: auto 0;
} */

.voitibutton {
  width: 78px;
  height: 40px;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1d1d1d;
}

/*Поисковая секция*/
.searchbox {
  height: 136px;  
}

.textblock {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #626262;
  opacity: 0.5;
  border-bottom: 1px solid #626262;
}

/*блок Рестораны в Москве*/
.restbg {
  margin-bottom: 0.8em;
}
.resttext {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  display: flex;
  color: #1d1d1d;
}

/*блок с карточками еды */

.cardimg {
  width: 100%;
  /* max-width: 368px;
min-height: 250px;
max-height: 256px;  */
}

.restname {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #1d1d1d;
  margin-bottom: 0.4em;
  padding-top: 10px;
}

.kitchentype {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #626262;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}
.cookintime {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  display: flex;
  align-items: center;
  margin-top: 0.4em;
  color: #1d1d1d;
  padding-bottom: 20px;
}

/*нижний колонтитул*/
footer {
  background: #262626;
  position: relative;
  width: 100%;
}

.whitelogo {
  height: 116px;
  display: flex;
  border-bottom: 1px solid #626262;
}

.mainmenubox {
  margin-top: 32px;
  min-height: 220px;
  border-bottom: 1px solid #626262;
}

.mainmenubtn {
  background: #3b3b3b;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  height: 40px;
  display: flex;
  position: relative;
  align-items: center;
}
.world {
  width: 15.72px;
  padding-left: 8px;
}
.lang {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  width: 51px;
  padding-left: 16.28px;
}
.strelkabox {
  display: flex;
  justify-content: flex-end;
  width: 220px;
}
.strelka {
  width: 14px;
  padding-right: 5px;
}
.social {
  padding-top: 32px;
}
.list {
  margin-top: 5px;
}
.listitem {
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;
color: #FFFFFF;
list-style-type: none;
padding-bottom: 23px;
}
.badges {
  height: 120px;
  border-bottom: 1px solid #626262;
}

@media screen and (max-width: 575px) {
  .badges {
      height: 84px;
  }
  .verybottom {
    height: 167px;
  }
  .ubercopyright {
    margin-top: 24px;
  }
  .processing {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .useragreement {
    margin-bottom: 24px;;
  }
}
.verybottom {
  min-height: 93px;
}
.verybottomtext {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #FFFFFF;  
}

.greenbutton {
position: absolute;
width: 80px;
height: 80px;
right: 16px;
bottom: 24px;
background: #59BD5A;
border-radius: 2px;
border-color: #59BD5A;
outline: none;
user-select: none;
display: flex;
align-items: center;
justify-content: center;
z-index: 1;
}